<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfVzwe0LByaEtUzq7EDvITkYTyAvIAKSg&libraries=places"></script>

<script src=/javascript/app.js> </script>
<footer class="footer"> &copy; Chidimma</footer>
</body>
</html>