<% include  ./partials/header%> 
<div class="background">
    <h1 class="welcome animated fadeInLeft">Welcome to the Vehicle Permits and </h1>
    <h1 class="wait animated fadeInLeft">Drivers' License Application.</h1>
    
    </div>
<% include  ./partials/footer%> 